@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color:  white;
    background: dark;
  }
}

table {
  width: 100%;
  table-layout: fixed;
  border: 1;
}

table, td, th {
  padding: 5px;
}

table thead {
  background: #074c69;
}

table, tr:nth-child(even) {
  background: #21182f;
}

table tr:hover {
  background: rgb(13, 157, 130);
  cursor: pointer;
}

.wrapper {
  max-width: 600px;
  margin: auto;
}

p{
  line-height: 30px;
}