.tablestyle {
    font-size: 11pt; 
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;
    overflow: hidden;
}

.tablestyle {
    padding: 5px;
}

.tablestyle .text_english {
    min-width: 30px;
    max-width: 50px;
}

.tablestyle tr:nth-child(even) {
    background: #074c69;
}

.tablestyle tr:hover {
    background: rgb(103, 18, 18);
    cursor: pointer;
}